---
- name: Install required packages
  apt:
    name: [
      'ca-certificates',
      'openssl',
      '{{ php_package_version }}-gd',
      '{{ php_package_version }}-mbstring',
      '{{ php_package_version }}-sqlite3',
      '{{ php_package_version }}-xml',
      'rsync',
      'tar',
      'unzip',
      'zip'
    ]
    state: present
    install_recommends: false

- name: Make sure kanboard directories exist (workaround for Travis Ansible bug)
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ kanboard_base }}"
    - "{{ kanboard_tmp }}"
  tags:
    - upgrade

- name: Download and unpack Kanboard
  unarchive:
    src: "{{ kanboard_source }}"
    dest: "{{ kanboard_base }}"
    remote_src: yes
    group: "{{ kanboard_group }}"
    owner: "{{ kanboard_user }}"
    mode: "{{ kanboard_files_mode }}"
  tags:
    - upgrade

- name: Move extracted Kanboard directory to the choosen name
  shell: mv kanboard* "./{{ kanboard_directory_name }}"
  args:
    chdir: "{{ kanboard_base }}"

- name: Apply correct permissions for Kanboard user
  file:
    path: "{{ kanboad_complete_path }}{{ item }}"
    state: directory
    mode: "{{ kanboard_files_mode }}"
    group: "{{ kanboard_group }}"
    owner: "{{ kanboard_user }}"
    recurse: yes
  with_items:
    - data
    - "{{ kanboard_upload }}/thumbnails"
    - "{{ kanboard_upload }}"
  tags:
    - permission
    - upgrade

- name: Secure configuration
  file:
    path: "{{ kanboad_complete_path }}{{ item }}"
    state: absent
  with_items:
    - ChangeLog
    - LICENSE
    - web.config
    - data/web.config
  tags:
    - harden
    - upgrade

- name: Apply and deploy configuration templates
  template:
    src: "{{ item.src }}"
    dest: "{{ kanboad_complete_path }}{{ item.dest }}"
    mode: "{{ kanboard_files_mode }}"
    group: "{{ kanboard_group }}"
    owner: "{{ kanboard_user }}"
  with_items:
    - src: config.php.j2
      dest: config.php
  tags:
    - configure
  when: kanboard_configuration_file == true

- name: Install maintenance cron job
  template:
    src: maintenance.sh.j2
    dest: /etc/cron.daily/maintenance-kanboard
    mode: "0755"
    group: root
    owner: root

- name: Install plugins
  file:
    path: "{{ kanboard_plugin_dir }}plugins/{{ item.name }}"
    state: absent
  with_flattened:
    - "{{ kanboard_plugins|default([]) }}"
    - "{{ kanboard_plugins_remove|default([]) }}"
  tags:
    - plugins
    - upgrade

- name: Recreate directory for each plugin (workaround for Ansible bug)
  file:
    path: "{{ kanboard_plugin_dir }}/{{ item.name }}"
    state: directory
    group: "{{ kanboard_group }}"
    owner: "{{ kanboard_user }}"
  with_items: "{{ kanboard_plugins|default([]) }}"
  tags:
    - plugins
    - upgrade

- name: Download and install latest version of plugins
  unarchive:
    src: "{{ item.src }}"
    dest: "{{ kanboard_plugin_dir }}/"
    remote_src: true
    group: "{{ kanboard_group }}"
    owner: "{{ kanboard_user }}"
    mode: "{{ kanboard_files_mode }}"
  with_items: "{{ kanboard_plugins|default([]) }}"
  tags:
    - plugins
    - upgrade